/* Slide specific */
.slide {

  .title {

    h2 {
      font-style: italic;
      margin-top: 0.5em;
    }

    img {
      margin-bottom: 0.5em;
    }

    p {
      margin: 0.2em 0 0.5em 0;
      font-size: 1em;
    }

    .logo {
      height: 1em;
      display: block;
      margin: 0 auto 1em auto;
    }

    .twitter {
      display: inline-block;
      padding-left: 35px;
      background: url(/images/Twitter_bird_logo_2012.svg) no-repeat 0px 4px;
      background-size: 30px;
      font-size: 0.9em;
      line-height: 30px;

      a {
        color: #fff;
      }
    }

  }

  .changemoney {
    video {
      width: 33%;
    }
  }

  .demo {

    height: 100%;

    header {

      font-size: 0.7em;
      position: relative;
      padding: 5px;
      background: #333;
      color: #eee;
      z-index: 1;

      .group-label {
        float: left;
        margin-right: 5px;
      }

      .radio-group {
        float: left;
        margin-right: 30px;

        input {
          position: relative;
          top: -3px;
        }

        label {
          margin-right: 10px;
        }

      }

      input[type="range"] {
        float: left;
      }

      &:after {
        /* Clear fix */
        content: '';
        display: table;
        clear: both;
      }

    }

    .credits {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.7em;
      padding: 10px;
      color: #666;
    }

  }

}
