html {
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px; /* By default presume 800x600 */
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;

  @media (min-width: 1024px) {
    font-size: 26px;
  }

  @media (min-width: 1280px) {
    font-size: 32px;
  }

  @media (min-width: 1366px) {
    font-size: 34px;
  }

  @media (min-width: 1600px) {
    font-size: 40px;
  }

  @media (min-width: 1920px) {
    font-size: 48px;
  }

}

#app {
  width: 100%;
  height: 100%;
  position: absolute;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

pre {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}


.slide {

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #3a5273;
  background-image: url('/images/background.png');
  background-size: 100% 100%;

  img {
    max-width: 100%;
  }

  &.hide {
    display: none;
  }

  .contents {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    &.top {
      top: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

}

/* Slide specific */

.title {

  h2 {
    font-style: italic;
    margin-top: 0.5em;
  }

  img {
    margin-bottom: 0.5em;
  }

  p {
    margin: 0.2em 0 0 0;
    font-size: 1em;

    .twitter {
      font-size: 0.9em;
    }
  }


}
