html {
  height: 100%;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  position: absolute;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

h1 {
  margin-top: 10px;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

.slide {

  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  &.hide {
    display: none;
  }

  .contents {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    &.top {
      top: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

pre {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

